{% extends 'ShoppingApp/base.html' %}
{% block breadcrumbs %}
    {#    <script type="text/javascript">#}
    {#        try {#}
    {#            ace.settings.check('breadcrumbs', 'fixed')#}
    {#        } catch (e) {#}
    {#        }#}
    {#    </script>#}

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="active">Add your Car</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->

{% endblock %}
{% block page-content %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" enctype="multipart/form-data" id="uploadRectest">
                <!-- #section:elements.form -->
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Car type </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Brand </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="brand"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Model </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="model"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Volume </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="volume"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Gearbox </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="gearbox"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> OriPrice </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="oldprice"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> CurrPrice </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="price"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Year of Manufacturing </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="year"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Age </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="age"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Mileage </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="mileage"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Torque </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="horsepower"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Horsepower </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="torque"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> TransferTime </label>
                    <div class="col-sm-9">
                        <input type="number" placeholder="" class="col-xs-10 col-sm-5" name="transfer_number"/>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fuel </label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="" class="col-xs-10 col-sm-5" name="fuel"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Pic of Your Car </label>
                    {#                    <div class="col-sm-9">#}
                    {#                        <input type="file"  placeholder="" class="col-xs-10 col-sm-5" name="pic"/>#}
                    {#                    </div>#}
                    <div class="col-md-6">
                        <a href="javascript:sfzzmSc();" class="grids-item">
                            <div id="sfzzmImg" class="grids-icon">
                                <img style="width: 300px"
                                     src="#">
                            </div>
                            <div class="grids-txt">
                                <span>Pic</span>
                            </div>
                        </a> <input style="display: none" name="pic" id="sfzzm" type="file"
                                    onchange="javascript:showpic(this,'sfzzm');"
                                    accept="image/*"
                                    multiple/>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" @click="commitGoodsRec">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Post
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
                <div class="hr hr-24"></div>
            </form>

        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}


{% block page-scripts %}


    <script>
        var vm = new Vue({
            el: '#app',
            // 分割符: 修改vue中显示数据的语法, 防止与django冲突
            delimiters: ['[[', ']]'],
            components: {},
            data: {
                name: "",
                nums: 0,
                price: 0,
                description: ""
            },
            created() {
            },
            methods: {
                async getDataList() {
                    //获取交流主记录
                    let data = {curPage: this.curPage, pageSize: this.pageSize, searchKey: this.searchKey};
                    let res = await axiosget("", data);
                    console.log(res);
                    if (res.code == 200) {
                        this.dataList = res.data.items;
                    }
                },
                async commitGoodsRec() {
                    var data = new FormData($('#uploadRectest')[0]);
                    var xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener('progress', this.on_progress, false);     //xhr对象含有一个upload对象，它有一个progress事件，在文件上传过程中会被不断触发，我们为这个事件对应一个处理函数，每当事件触发就会调用这个函数，于是便可利用这个函数来修改当前进度，更多细节可自行查询
                    xhr.open('POST', "{% url 'shop_addgoods' %}", true);  //请将url改成上传url
                    xhr.setRequestHeader('X-CSRFTOKEN', '{{ request.COOKIES.csrftoken }}');   //此处为Django要求，可无视，或者换成相应后台所要求的CSRF防护，不是django用户请去掉
                    xhr.send(data);   //发送表单
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 || xhr.readyState == "complete") {
                            //跳转详情页面
                            window.location.href = "{% url 'index'  %}";
                        }
                        {#var json = JSON.parse(xhr.responseText);#}
                        {#console.log(json)#}
                    }
                },
                on_progress(evt) {       //看这个函数之前先看upload函数。这个函数可以接收一个evt(event)对象(细节自行查询progress)，他有3个属性lengthComputable，loaded，total，第一个属性是个bool类型的，代表是否支持，第二个代表当前上传的大小，第三个为总的大小，由此便可以计算出实时上传的百分比
                    if (evt.lengthComputable) {
                        var percent = Math.round((evt.loaded) * 100 / evt.total);
                        console.log(percent);
                        if (percent == 100) {
                            percent = 99;
                        }
                    }
                },
            },
            computed: {
                // 计算属性的 getter
            }
        });

        function sfzzmSc() {//点击触发h5File类型上
            $("#sfzzm").click();
        }

        function showpic(obj, id) {//图片展示
            //var imgs = document.getElementById("sfzzmImg").getElementsByTagName("img");
            for (var i = 0, file; file = obj.files[i]; i++) {
                if (i > 0) {
                    break;
                }
                const size200k = file.size / 1024 < 500;
                if (!size200k) {
                    console.log("图片超过500k");
                    $('#modal-alert99').modal('show');
                    $("#" + id).val("");
                    return false;
                }
                var reader = new FileReader();
                reader.onload = function (e) {//图片读取展示
                    console.log(e);
                    var htmlimg = '<img  style="margin-left:2px;width:300px; " id="' + e.timeStamp + '" class="min"  src="' + e.target.result + '" onclick="showBigPic(this)"/>';
                    $("#" + id + "Img").html(htmlimg);
                };
                reader.readAsDataURL(file);

            }
        }
    </script>
{% endblock %}

{% block page-styles %}

{% endblock %}