{% extends 'ShoppingApp/base.html' %}
{% block breadcrumbs %}
    {#    <script type="text/javascript">#}
    {#        try {#}
    {#            ace.settings.check('breadcrumbs', 'fixed')#}
    {#        } catch (e) {#}
    {#        }#}
    {#    </script>#}

    <ul class="breadcrumb">

        <li class="active"><i class="ace-icon fa fa-home home-icon"></i>主页</li>
    </ul><!-- /.breadcrumb -->

    <!-- #section:basics/content.searchbox -->
    <div class="nav-search">
		<span class="input-icon">
            <input type="text" placeholder="名称" class="nav-search-input" v-model="searchKey" @change="getDataList"/>
            <i class="ace-icon fa fa-search nav-search-icon"></i>
        </span>
    </div><!-- /.nav-search -->
{% endblock %}
{% block page-content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 col-sm-6" v-for="(item,index) in dataList">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" :src="item.goodsPic">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">[[item.name]]</a></h3>
                        <div class="price">￥[[item.price]]
                            <span>￥[[item.oldPrice]]</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="#" data-tip="Buy" @click="createBill(item)"><i class="fa fa-money"></i></a></li>
                        <li><a href="#" data-tip="Add to Bills" @click="addCar(item)"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


     <div class="modal fade" id="ShowMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                </div>
                <div class="modal-body">
                    [[showMessage]]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    <button type="button" class="btn btn-primary" @click="readCar">查看购物车</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}


{% block page-scripts %}


    <script>
        var vm = new Vue({
            el: '#app',
            // 分割符: 修改vue中显示数据的语法, 防止与django冲突
            delimiters: ['[[', ']]'],
            components: {},
            data: {
                dataList: [],
                curPage: 1,
                pageSize: 10,
                searchKey: "",
                showMessage:""

            },
            created() {
                this.getDataList();
            },
            methods: {
                async getDataList() {
                    //获取交流主记录
                    let data = {curPage: this.curPage, pageSize: this.pageSize, searchKey: this.searchKey};
                    let res = await axiosget("{% url 'shop_goodslist' %}", data);
                    console.log(res);
                    if (res.code == 200) {
                        this.dataList = res.data.items;
                    }
                },
                 async addCar(item) {
                    //加入购物车
                    let data = {id:item.id};
                    let res = await axiospost("{% url 'shop_addshoppingcar' %}", data);
                    console.log(res);
                    if (res.code == 200) {

                        this.showMessage=res.message;
                        $('#ShowMessageModal').modal("show");
                    }
                },
                async createBill(item) {
                    //加入购物车
                    let data = {id:item.id};
                    let res = await axiospost("{% url 'shop_createmybills' %}", data);
                    console.log(res);
                    if (res.code == 200) {

                         window.location.href = "{% url 'shop_shoppingbilldetail'  %}?id="+res.data.id;
                    }
                },
                readCar()
                {
                     window.location.href = "{% url 'shop_shoppingcar'  %}";
                }
            },
            computed: {
                // 计算属性的 getter
            }
        });
    </script>
{% endblock %}

{% block page-styles %}
    <style type="text/css">


        .product-grid {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            overflow: hidden;
            position: relative;
            transition: all 0.5s ease 0s;
        }

        .product-grid:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .product-grid .product-image {
            overflow: hidden;
        }

        .product-grid .product-image a {
            display: block;
        }

        .product-grid .product-image img {
            width: 100%;
            height: auto;
            transition: all 0.5s ease 0s;
        }

        .product-grid:hover .product-image img {
            transform: scale(1.1);
        }

        .product-grid .product-content {
            padding: 12px 12px 15px 12px;
            transition: all 0.5s ease 0s;
        }

        .product-grid:hover .product-content {
            opacity: 0;
        }

        .product-grid .title {
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0 0 10px;
            transition: all 0.3s ease 0s;
        }

        .product-grid .title a {
            color: #000;
        }

        .product-grid .title a:hover {
            color: #2e86de;
        }

        .product-grid .price {
            font-size: 18px;
            font-weight: 600;
            color: #2e86de;
        }

        .product-grid .price span {
            color: #999;
            font-size: 15px;
            font-weight: 400;
            text-decoration: line-through;
            margin-left: 7px;
            display: inline-block;
        }

        .product-grid .social {
            background-color: #fff;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            bottom: -50%;
            left: 50%;
            z-index: 1;
            transition: all 0.5s ease 0s;
        }

        .product-grid:hover .social {
            opacity: 1;
            bottom: 20px;
        }

        .product-grid .social li {
            display: inline-block;
        }

        .product-grid .social li a {
            color: #909090;
            font-size: 16px;
            line-height: 45px;
            text-align: center;
            height: 45px;
            width: 45px;
            margin: 0 7px;
            border: 1px solid #909090;
            border-radius: 50px;
            display: block;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        .product-grid .social li a:hover {
            color: #fff;
            background-color: #2e86de;
            width: 80px;
        }

        .product-grid .social li a:before,
        .product-grid .social li a:after {
            content: attr(data-tip);
            color: #fff;
            background-color: #2e86de;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 1px 5px;
            border-radius: 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px;
        }

        .product-grid .social li a:after {
            content: '';
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -20px;
            z-index: -1;
        }

        .product-grid .social li a:hover:before,
        .product-grid .social li a:hover:after {
            opacity: 1;
        }

        @media only screen and (max-width: 990px) {
            .product-grid {
                margin-bottom: 30px;
            }
        }
    </style>
{% endblock %}